<!DOCTYPE html>
<html>
    <head><title>我要爆料</title></head>
    <body>
        <h1>输入爆料信息</h1>
        <form method="post" action="/po">
        <p>标题<br><input type="text" name="info_title"></p>
        <p>价格<br><input type="text" name="info_price"></p>
        <p>详情<br><input type="text" name="info_detail"></p>
        <p>标签（分类）<br><input type="text" name="label_usage"></p>
        <p>标签（来源）<br><input type="text" name="label_source"></p>
        <input type="submit">
        </form>
    </body>
</html>
