{% autoescape None %}

<!DOCTYPE HTML>
<html class="no-js">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>{{infos['info_title']}}</title>
<link rel="shortcut icon" href="https://img.xclient.info/icon/favicon.ico" type="image/x-icon" />
<link href="https://cdn.bootcss.com/Swiper/4.2.0/css/swiper.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/social-share.js/1.0.16/css/share.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://img.xclient.info/css/styles.min.css">
<link rel="stylesheet" href="https://img.xclient.info/css/style.v3.min.css?v=19041513">
<script src="https://img.xclient.info/js/vue.min.js"></script>


</head>
<body>
<header class="header" id="header">
    
    <div class="container-xl">
        <div class="row clear">

          <div class="col-12 col-9-m">
              <div class="row clear">
                <div class="col-12 col-8-m nav">
                    <a class="nav-item nav-home" v-bind:class="{current:at=='index'}" href="/">全部羊毛</a>

                    <a class="nav-item nav-soft" v-bind:class="{current:at.indexOf('soft')>=0}" href="https://xclient.info/s/">我的订阅</a>

                    <a class="nav-item nav-post" v-bind:class="{current:(at=='post'||at=='archive'||at=='category'||at=='tag')}" href="https://xclient.info/a/">排行榜</a>

                    <a class="nav-item nav-wishlist" href="#" onclick="openDialog()">分类</a>
                    <a class="nav-item nav-feedback" v-bind:class="{current:(at=='page'&&subat=='feedback')}" href="/po">我要爆料</a>
                </div>
                <div class="col-12 col-4-m">
                        <form id="search" method="post" action="/search">
                            <span class="input_wrap">
                                <input type="text" name="info_keyword" class="text" placeholder="输入关键字搜索" />
                                <button type="submit" class="submit icon-search"></button>
                            </span>
                            <input type="hidden" name="t" value="soft" />
                        </form>
                </div>
              </div>
                
          </div>
          
        </div>
    </div>
</header><!-- end #header -->
<div class="notice_tip">
    <div class="container-xl">
            </div>
</div>



<div class="post-head media">

    <div class="container-xl">
        <img class="lim-icon app_ico" src="http://10.245.146.207/images/{{infos['info_image'].split('/')[-1]}}" attr="WinX DVD Ripper 6.2.1-20190416 DVD视频转换" title="WinX DVD Ripper 6.2.1-20190416 DVD视频转换" alt="WinX DVD Ripper 6.2.1-20190416 DVD视频转换">
        <h1 class="post-title">{{infos['info_title']}}</h1>
        <ul class="post-meta">
            <li>
                <time datetime="2019-01-22T16:36:00+08:00">{{infos['info_update_time']}}</time>
            </li>
            <li>
                <i class="icon-tag"></i>
                {% if infos['info_tags'] %}
                    {% for tag in infos['info_tags'] %}
                    <a href="#">{{tag}}</a>
                        
                    {% end %}
                {% end %}
          
            </li>
            <li>
                <i class="icon-view"></i>{{infos['info_visited']}}            
            </li>
        </ul>

        <div class="share_box">
            <span class="social-share" data-initialized="true" data-title="WinX DVD Ripper 6.2.1-20190416 DVD视频转换">
                <a href="#" class="social-share-icon icon-weibo"></a>
                <a href="#" class="social-share-icon icon-wechat"></a>
                <a href="#" class="social-share-icon icon-douban"></a>
                <a href="#" class="social-share-icon icon-qq"></a>
            </span>
        </div>
    </div>
</div>


<div id="body">
    <div class="container-xl">
        <div class="row">
            <div class="col-12 col-8-m">
                <div class="white-box">
                    <div class="album-swiper-container swiper-container">
                        <div class="swiper-wrapper lim-album" id="swiper-wrapper">
                            {% if infos['info_order_shot'] %}
                            <a href="javascript:;" class="lim-album-item swiper-slide" title="{{infos['info_title']}}">
                                <img src="http://10.245.146.207/images/{{infos['info_order_shot'].split('/')[-1]}}" alt="{{infos['info_title']}}">
                            </a>
                            <a href="javascript:;" class="lim-album-item swiper-slide" title="{{infos['info_title']}}">
                                <img src="http://10.245.146.207/images/{{infos['info_order_shot'].split('/')[-1]}}" alt="{{infos['info_title']}}">
                            </a>
                            <a href="javascript:;" class="lim-album-item swiper-slide" title="{{infos['info_title']}}">
                                <img src="http://10.245.146.207/images/{{infos['info_order_shot'].split('/')[-1]}}" alt="{{infos['info_title']}}">
                            </a>
                            {% end %}
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-scrollbar"></div>
                       
                    </div>
                </div>
            </div>
            <div class="col-12 col-4-m">
                <div class="white-box">
                    <span class="downloads">
                        {{infos['info_price']}}                    
                    </span>

                    <div class="download_btn ">
                        <a href="/comment?yn=y&info_id={{infos['info_id']}}" action="get">SKR！</a>
                    </div>
                    <div class="download_btn">
                        <a href="{{infos['info_link']}}">这个不行</a>
                    </div>
                    <div class="download_btn">
                        <a href="{{infos['info_link']}}" target="_blank">直达链接</a>
                    </div>

                    <div class="app_info box">
                        <b class="tit">基本信息</b>
                        <table>
                            <tbody>
                            <tr>
                                <th>爆料人</th>
                                <td>6.2.1-20190416</td>
                            </tr>
                            <tr>
                                <th>类别</th>
                                <td><a href="https://xclient.info/s/c/media/">媒体工具</a></td>
                            </tr>
                            <tr>
                                <th>更新时间</th>
                                <td>2019-04-22</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pad-top-20">
            <div class="col-12 col-8-m" id="main" role="main">

                <div class="white-box">

                    <article class="post">

                       

                        <!-- ad content -->
                        
    <div class="lim-ad ad-content">
        <!-- 内容页 -->
        <!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
             style="display:inline-block;width:682px;height:90px"
             data-ad-client="ca-pub-1293127422149386"
             data-ad-slot="2851378956"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script> -->

    </div>

                        <div class="post-summary">
                            <p>{{infos['info_title']}}</p>
                        </div>

                        <div class="post-content" id="post-content">
                            <div class="post-union">
                                                            </div>
                        {{infos['info_detail']}}
                        <!--
                            <h2>应用介绍</h2>
<p>WinX DVD Ripper是目前Mac平台上的最受欢迎的DVD视频转换软件。<br />
轻松地管理你的dvd内容:把它们备份到你的Mac硬盘上，并让它们在你的多媒体播放器上查看它们。</p>
<p>WinX DVD Ripper手是一款全能的DVD开膛手，设计成完美的1:1的DVD拷贝到硬盘上，把你的DVD电影在Mac OS上拷贝到iTunes，MOV，MP4，FLV等等，在iPad，iPod，iPhone，苹果电视，PSP等等。</p>
<p>WinX DVD Ripper也支持从DVD文件中提取音乐并保存为MP3格式。<br />
有了这个Mac的DVD开膛手，Mac用户可以将DVD的收藏备份到Mac或便携式设备上，而不会有任何质量损失。</p>
<p>苹果公司的WinX DVD Ripper也可以撷取新一代DVD拷贝保护技术，如公主和青蛙，爱丽丝梦游仙境，变形金刚2，星际迷航等。</p>-->
                        </div>

                    </article>


                    <!-- ad versions -->
                    



                    <!-- 上下篇 -->
                    <!--<ul class="post-near">-->
                        <!--<li>上一篇: <a href="https://xclient.info/s/permute.html" title="Permute 3.2.1 小巧便捷的多媒体文件格式转换器">Permute 3.2.1 小巧便捷的多媒体文件格式转换器</a></li>-->
                        <!--<li>下一篇: <a href="https://xclient.info/s/folder-tidy.html" title="Folder Tidy 2.7.3 桌面文件夹整理">Folder Tidy 2.7.3 桌面文件夹整理</a></li>-->
                    <!--</ul>-->
                </div>
            </div><!-- end #main-->

            <div class="col-12 col-4-m kit-hidden-tb" id="secondary" role="complementary">
    <div class="white-box">



        <!-- ad sidebar -->
        
    <div class="lim-ad ad-sidebar">
        <div class="side_app_box box">
            <b class="tit">热门应用</b>
                        <ul class="app_list">

                               <li>
                    <div class="main">
                        <a href="https://xclient.info/s/sketch.html" title="Sketch 54.1 轻量易用的矢量设计工具">
                            <img class="lim-icon" src="https://img.xclient.info/attachment/2016/11/8192c982-4245-e1b4-36a7-cfcaac406b33.png" alt="Sketch 54.1 轻量易用的矢量设计工具">
                            
                            <div class="info">
                                <h3>Sketch 54.1 轻量易用的矢量设计工具</h3>
                                <p>Sketch（App Store 精华） 是最强大的移动应用矢量绘图设计工具，对于网页设计和移动设计者来说，比PhotoShop好用N倍！尤其是在移动应用设计方面，Sketch 3 的优点在于使用简单，学习曲线低，并且功能更加强大易用。能够大大节省设计师的时间和工作量，非常适合进行网站设计、移动应用设计、图标设计等</p>
                            </div>
                            <div class="status_bar">
                                    <span class="item download">
                                        <i class="icon-download"></i>
                                        52.7w+                                    </span>
                                    <span class="item date">
                                        <i class="icon-date"></i>
                                        2019.04.12                                    </span>
                            </div>
                        </a>
                        <div class="cates">
                            <a href="https://xclient.info/s/c/design/">图形设计</a>                        </div>
                    </div>
                </li>
                                <li>
                    <div class="main">
                        <a href="https://xclient.info/s/office-for-mac.html" title="Microsoft Office 2019 16.24 多国语言">
                            <img class="lim-icon" src="https://img.xclient.info/attachment/2015/09/e461dc36-bac8-26ef-36eb-0db3df7007c3.png" alt="Microsoft Office 2019 16.24 多国语言">
                            
                            <div class="info">
                                <h3>Microsoft Office 2019 16.24 多国语言</h3>
                                <p>Office包含全新的 Word、Excel、PowerPoint、Outlook 和 OneNote ，完美支持Retina，支持中文，大量功能更新，非常强大！</p>
                            </div>
                            <div class="status_bar">
                                    <span class="item download">
                                        <i class="icon-download"></i>
                                        39.3w+                                    </span>
                                    <span class="item date">
                                        <i class="icon-date"></i>
                                        2019.04.18                                    </span>
                            </div>
                        </a>
                        <div class="cates">
                            <a href="https://xclient.info/s/c/industry/">行业软件</a>                        </div>
                    </div>
                </li>
                                <li>
                    <div class="main">
                        <a href="https://xclient.info/s/navicat-premium.html" title="Navicat Premium 12.1.20 强大的数据库管理工具">
                            <img class="lim-icon" src="https://img.xclient.info/attachment/2017/06/4b2b3f4a-8a69-8d4c-a776-99633d4a8eec.png" alt="Navicat Premium 12.1.20 强大的数据库管理工具">
                            
                            <div class="info">
                                <h3>Navicat Premium 12.1.20 强大的数据库管理工具</h3>
                                <p>Navicat Premium是一个可多重连接的数据库管理工具，Navicat 的功能足以符合专业开发人员的所有需求，但是对数据库服务器的新手来说又相当容易学习。它可让你以单一程序同時连接到目前世面上所有版本的主流数据库并进行管理和操作，支持的数据库有： MySQL、SQL Server、SQLite、Oracle 及 PostgreSQL。让管理不同类型的数据库更加方便。</p>
                            </div>
                            <div class="status_bar">
                                    <span class="item download">
                                        <i class="icon-download"></i>
                                        24.6w+                                    </span>
                                    <span class="item date">
                                        <i class="icon-date"></i>
                                        2019.04.22                                    </span>
                            </div>
                        </a>
                        <div class="cates">
                            <a href="https://xclient.info/s/c/dev/">开发工具</a>                        </div>
                    </div>
                </li>
                                <li>
                    <div class="main">
                        <a href="https://xclient.info/s/adobe-photoshop-cc.html" title="Adobe Photoshop CC 2019 v20.0.4">
                            <img class="lim-icon" src="https://img.xclient.info/attachment/2015/10/c337c2fd-3e5a-edbe-812c-cbf797391cf1.png" alt="Adobe Photoshop CC 2019 v20.0.4">
                            
                            <div class="info">
                                <h3>Adobe Photoshop CC 2019 v20.0.4</h3>
                                <p>Adobe Photoshop CC for mac破解版是Adobe公司自2013年7月推出最新版本photoshop——Photoshop CC（Creative Cloud）。除去Photoshop CS6中所包涵的功能，Photoshop CC新增相机防抖动功能、CameraRAW功能改进、图像提升采样、属性面板改进、Behance集成等功能，以及Creative Cloud，即云功能。</p>
                            </div>
                            <div class="status_bar">
                                    <span class="item download">
                                        <i class="icon-download"></i>
                                        21.5w+                                    </span>
                                    <span class="item date">
                                        <i class="icon-date"></i>
                                        2019.04.26                                    </span>
                            </div>
                        </a>
                        <div class="cates">
                            <a href="https://xclient.info/s/c/design/">图形设计</a>                        </div>
                    </div>
                </li>
                                <li>
                    <div class="main">
                        <a href="https://xclient.info/s/charles.html" title="Charles 4.2.7 汉化版 Mac上的抓包工具">
                            <img class="lim-icon" src="https://img.xclient.info/attachment/2015/12/2d136ec3-bb11-231e-0717-fe97a3a2ab2c.png" alt="Charles 4.2.7 汉化版 Mac上的抓包工具">
                            
                            <div class="info">
                                <h3>Charles 4.2.7 汉化版 Mac上的抓包工具</h3>
                                <p>Charles是一款用于HTTP信息抓包工具，可以快速有效的获得HTTP信息，非常利于开发者的网页开发和调试修改等！Charles 有着可视化的操作界面，非常利用编辑者的使用和调试！</p>
                            </div>
                            <div class="status_bar">
                                    <span class="item download">
                                        <i class="icon-download"></i>
                                        18.8w+                                    </span>
                                    <span class="item date">
                                        <i class="icon-date"></i>
                                        2019.03.22                                    </span>
                            </div>
                        </a>
                        <div class="cates">
                            <a href="https://xclient.info/s/c/network/">网络工具</a> <a href="https://xclient.info/s/c/dev/">开发工具</a>                        </div>
                    </div>
                </li>
                            </ul>

        </div>
        
    </div>
</div><!-- end #sidebar -->
        </div><!-- end .row -->


    </div>
    <!-- <div class="donate_pop" v-bind:class="{show:donateShow}" v-if="donateShow">
        <div class="pop_mask" v-on:click="donateShow=false"></div>
        <div class="pop_main">
            <a class="close" v-on:click="donateShow=false">×</a>
        </div>
    </div> -->
</div><!-- end #body -->

<!--相关应用 start-->
<div class="related_item box">
    <div class="container-xl">
        <div class="row">
            <div class="col-12">
                <b class="tit">猜你喜欢</b>

                <ul class="post_list row">
                    <li class="col-6 col-4-m col-3-l col-2-xl">
                        <div class="main">
                            <a href="https://xclient.info/s/movavi-video-editor.html" title="Movavi Video Editor 15.3.1 功能强大的视频编辑软件">
                                <img class="lim-icon" src="https://img.xclient.info/attachment/2018/10/712a7d7e-e8de-15b3-9ae7-b40f35562126.png" alt="Movavi Video Editor 15.3.1 功能强大的视频编辑软件">
                                <div class="status_bar">
                                    <span class="item download"><i class="icon-download"></i>1960</span>
                                    <span class="item date"><i class="icon-date"></i>2019.04.30</span>
                                </div>
                                <div class="info">
                                    <h3>Movavi Video Editor 15.3.1 功能强大的视频编辑软件</h3>
                                    <p>Video Editor Movavi 是一款十分好用的视频编辑软件，除了常规的视频编辑功能外，Video Editor Movavi Mac版还可以通过摄像头和麦克风录制视频和音频，提升视频质量，将图片快速制作成为视频等功能。</p>
                                </div>
                            </a>
                            <div class="cates">
                                <a href="https://xclient.info/s/c/media/">媒体工具</a>                            
                            </div>
                        </div>
                    </li>

                </ul>

            </div>
        </div>
    </div>

</div>
</body>
</html>