<!DOCTYPE HTML>
<html class="no-js">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>排行榜</title>
<!--
<link rel="stylesheet" href="https://img.xclient.info/css/styles.min.css">
<link rel="stylesheet" href="https://img.xclient.info/css/style.v3.css?v=19041513">-->
<link rel="stylesheet" href="/static/css/styles.min.css">
<link rel="stylesheet" href="/static/css/style.v3.css">
<!--<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">-->
</head>
<body>

<header class="header" id="header">
    
    <div class="container-xl">
        <div class="row clear">

          <div class="col-12 col-9-m">
              <div class="row clear">
                <div class="col-12 col-8-m nav">
                    <a class="nav-item nav-home" v-bind:class="{current:at=='index'}" href="/">全部羊毛</a>

                    <a class="nav-item nav-soft" v-bind:class="{current:at.indexOf('soft')>=0}" href="https://xclient.info/s/">我的订阅</a>

                    <a class="nav-item nav-post" v-bind:class="{current:(at=='post'||at=='archive'||at=='category'||at=='tag')}" href="/rank">排行榜</a>
                    <a class="nav-item nav-wishlist" href="/types">分类</a>
                    <a class="nav-item nav-feedback" v-bind:class="{current:(at=='page'&&subat=='feedback')}" href="/po">我要爆料</a>
                </div>
                <div class="col-12 col-4-m">
                        <form id="search" method="post" action="/search">
                            <span class="input_wrap">
                                <input type="text" name="info_keyword" class="text" placeholder="输入关键字搜索" />
                                <button type="submit" class="submit icon-search"></button>
                            </span>
                            <input type="hidden" name="t" value="soft" />
                        </form>
                </div>
              </div>
                
          </div>
          
        </div>
    </div>
</header><!-- end #header -->
<br>
<div id="lim-cate-list" class="post-filter">
	{% for t in tags_count %}
	        <a href="#" class="" title="热度{{t['info_count']}}">{{t['info_tag']}}</a>
	{% end %}

                                            
</div>


